*{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.content{
    display: flex;
    flex-direction: row;
}
.hero{
    position: relative;
    width: 30%;
}
.name{
    position: absolute;
    top: 100%;
    color: white;
    background-color: rgb(0, 0, 0, 0.3);
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.main{
    display: flex;
    flex-direction: column;
}
.info{
    margin: 1rem;
    font-size: 2em;
}
.formContainer{
    background-color: white;
}
.footer{

}