html, body{
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}
.content{
    display: flex;
    flex-direction: row;
}
.hero{
    position: relative;
}
.hero > img{
    height: 100vh;
}
.hero > .name{
    position: absolute;
    color: white;
    font-weight: bolder;
    font-size: 4rem;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main{
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
}
.info > h2{
    margin: 2rem;
}
.formContainer{
    box-shadow: 2px 2px 5px #ccc;
    background-color: white;
    padding: 2rem;
}
.formContainer > h2{
    margin: 0;
    padding-bottom: 32px;
}
.formBox{
    display: flex;
    flex-direction: row;
    gap: 10rem;
}
.formBox > div{
    display: flex;
    flex-direction: column;
}
label{
    font-weight: 100;
    color: rgb(0, 0, 0, 0.7);
}
input{
    margin-bottom: 1rem;
    border-radius: 5px;
    border: solid 1px lightgray;
    padding: 5px 5rem 5px 5px;
}
input:hover{
    border-color: gray;
    transition: 0.3s;
}
a{
    text-decoration: none;
    color: #408da1;
}
button{
    background-color: #408da1;
    border-radius: 3px;
    color: white;
    padding: 10px 30px;
    border: solid 2px #397e8f;
    cursor: pointer;
}
.footer{
    margin-left: 2rem;
}